.nhomdevice{
    margin-top: 70px;
    padding-left: 70px;
    width: 100%;
}
.btnnhomthietbi{
    margin-left: 70px;
    margin-bottom: 20px;
}
.iconnhom{
    margin-left: 6px;
}
.ListNhom {
    width: 87%;
    margin-left: 12%;
}