.listdevicemuon{
    margin-top: 70px;
    padding-left: 40px;
    width: 90%;
    margin-left: 5%;
}

.buttoncreatedevice{
    margin-bottom: 20px;
}

.editDevice{
    width:60%;
    margin-left: 20%;
    margin-top: 70px;
}